<html>
    <div class="form" id="add-form"><!--Dynamically add label and text inputs for add-form -->
        <label for="addsuperpower">Add a Superpower:</label>
        <form class="row pb-2" id="addsuperpower" action="/superpowers" method="post">
            <div class="col"> <input type="text" class="form-control" name="name" placeholder="Name"></div>
            <button class="btn btn-primary" type="submit" value="add_superpower">Add A Superpower</button>
        </form>

        <label for="search_superpowers">Search For a Superpower by Name:</label>
        <form class="row pb-2" id='search_superpowers' action='' method=''>
            <div class="col"><input id='superpower_search_string' type='text' name='name_search_string' value=''></div>
            <input class="btn btn-secondary ml-3" type="button" value="Search Superpowers" onclick="searchSuperpowers()">
        </form>

    </div> 

    <table class="table" id="view-data-table">
        <thead> 
            <th>Superpowers</th> 
        </thead> 
        <tbody>
            {{#each superpowers}} 
            <tr> 
                <td>{{description}}</td> 
                <td><button class="btn btn-danger" onclick="deleteSuperpower({{id}})">Delete</button></td>
                <td><a role="button" class="btn btn-warning" href="/superpowers/{{id}}">Update</a></td>
            </tr> 
            {{/each}} 
        </tbody> 
    </table> 
</html>